@font-face {
  font-family: Source-Sans;
  src: url("../../client_build/fonts/SourceSansPro-Regular.ttf");
  font-weight: 500;
}

//@font-face {
//  font-family: Gotham-Rounded;
//  src: url("../fonts/Gotham-Rounded-Medium.ttf");
//  font-weight: 700;
//}
//
//@font-face {
//  font-family: Gotham-Rounded;
//  src: url("../fonts/Gotham-Rounded-Light.ttf");
//  font-weight: 300;
//}