@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./palette.scss";
@import "./fonts.scss";

$footer-height: 3.125rem;

html {
  overflow-y: scroll;
  position: relative;
  min-height: 100%
}

body {
  background-color: $blue-grey-50;
  //padding-top: 50px;
  margin-bottom: $footer-height;
  min-height: 100%;
}

.logo {
  display: block;
  margin-top: 35px;
  margin-bottom: 35px;

  > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;

  p {
    text-align: center;
    margin-bottom: 0;
  }
}

h2 {
  text-align: center;
}

h2.section-heading {
  margin-top: 42px;
  margin-bottom: 32px;
  font-size: 1.5rem;
  border-bottom: 1px solid $brand-primary;
  padding-bottom: 6px;
  text-align: left;
}

h3 {
  font-size: 1.125rem;
  font-weight: bold;
}

.btn-jumbo {
  width: 18.75rem;
  height: 3.125rem;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1;
  display: block;
  //margin-left: auto;
  //margin-right: auto;
  margin: 40px auto 20px auto;
}

@mixin placeholder {
  color: $blue-grey-300;
}

::-moz-placeholder {
  @include placeholder;
}

::-webkit-input-placeholder {
  @include placeholder;
}

:-ms-input-placeholder {
  @include placeholder;
}

::-ms-input-placeholder {
  @include placeholder;
}

$input-padding-left-right: 2.625rem;

// Dynamic List Component
.dynamic-list {
  background-color: #fff;
  border-radius: 5px;

  .item-input {
    position: relative;

    .list-button {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -12.5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .new-item {
      width: 100%;
      height: 100%;
      border: none;
      padding-left: $input-padding-left-right;
      padding-right: $input-padding-left-right;
      font-size: 1.125rem;
      background-color: transparent;
      min-height: 67px;
    }
  }

  .items-list {
    list-style: none;

    .item-pane {
      min-height: 55px;
      border-top: 1px solid $blue-grey-100;
      display: flex;

      &:first-child {
        border-top: 1px solid $body-color;
      }

      .numbering {
        width: 42px;
        justify-content: center;
        color: $blue-grey-200;
      }

      .item {
        width: 524px;
        padding-top: 15px;
        padding-bottom: 15px;
      }

      .list-button {
        margin-left: auto;
        width: 42px;
      }

      > * {
        display: flex;
        align-items: center;
        font-size: 1.125rem;
      }

      &:hover { //.item-pane:hover
        button {
          visibility: visible;
        }
      }

      button {
        visibility: hidden;
      }

      input.edit {
        display: none;
        width: 100%;
        padding-left: $input-padding-left-right;
        padding-right: $input-padding-left-right;

        &:focus {
          border: 1px solid $brand-primary;
        }
      }

      &.editing {
        > * {
          display: none;
        }

        input.edit {
          display: block;
        }
      }
    }
  }

  button.new {

    svg {
      fill: $blue-900;
    }

    &:hover {
      svg {
        fill: $blue-500;
      }
    }
  }

  button.delete {
    svg {
      fill: $red-900;
    }

    &:hover {
      svg {
        fill: $red-500;
      }
    }
  }

  .list-button {
    width: 2.625rem;
    justify-content: center;

    button {
      width: 25px;
      height: 25px;
      border: none;
      padding: 0;
      background: transparent;

      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}

// #question - fluid-textarea component
.fluid-textarea#question {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;

  pre, textarea {
    min-height: 67px;
    padding: 20px $input-padding-left-right 20px $input-padding-left-right;
    font-size: 1.5rem;
    background: transparent;
  }
}

.createdMessage {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid $blue-grey-100;
  padding: 15px;
  font-size: 1.5rem;
  text-align: center;
}

// PollVote component

p.sub-heading {
  text-align: center;
  font-size: 1.125rem;
  color: $blue-grey-500;
}

.option-label {
  display: block;
  height: 52px;
  line-height: 52px;
  margin: 0;
  font-size: 1.125rem;
  padding: 0 10px 0 10px;
  border-top: 1px solid $blue-grey-100;
  cursor: pointer;

  &:first-child {
    border-top: none;
  }

  &:hover, &[checked]:hover {
    background-color: $yellow-100;
  }

  &[checked="true"] {
    background-color: $deep-purple-50;
    color: #000;
  }
}

.options-list {
  background-color: #fff;
  border-radius: 5px;
}

#view-results {
  text-align: center;
  font-size: 1.125rem;
}